*{
	width: 80px;
	height: 65px;
}
.vermelho{
	background-color: red;
	border-radius: 16px;
}
.verde9065{
	position: absolute;
	background-color: green;
	border-radius: 10px;
	margin-left: 90px;
	margin-top: -65px;
}

.verde65180{
	background-color: green;
	border-radius: 10px;
	margin-top: -65px;
	margin-left: 180px;
}
.verde10{
	background-color: green;
	border-radius: 10px;
	margin-top: 10px;
}